::ng-deep .container {
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/background.png');
  font-family: sans-serif;

  .header {
    position: relative;
    .logo {
      width: 200px;
      height: 40px;
      background-image: url('../assets/images/logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 auto;
    }

    .title {
      width: 100%;
      font-size: 20px;
      font-family: sans-serif;
      text-align: center;
      font-weight: bold;
    }
  }

  .input-file {
    display: none;
    color: #d3d3d3;
  }

  .import-excel-container {
    background: #fff;
    border-radius: 15px;
    color: #21984b;
    cursor: pointer;
    box-shadow: 5px 10px 8px #888888;
    font-size: 24px;
    height: 300px;
    left: calc(50% - 250px);
    padding: 50px;
    position: absolute;
    text-align: center;
    top: calc(50% - 200px);
    width: 500px;
  
    i {
      display: block;
      font-size: 100px;
      color: #d3d3d3;
    }
  }

  .customer-data {
    position: relative;
    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 32px;
      text-align: center;
      font-family: sans-serif;
    }

    .injected-date {
      text-align: center;
      font-weight: bold;
      line-height: 32px;
      text-align: center;
      font-family: sans-serif;
    }

    .injected-info {
      font-size: 15px;
      font-weight: bold;
      line-height: 25px;
      text-align: center;
      font-family: sans-serif;
      cursor: pointer;
    }

    .search-container {
      width: 500px;
      margin: 10px auto;
    }

    nz-table {
      width: 90%;
      margin: 0 auto;
      thead {
        th {
          font-weight: bold;
        }
      }
    }

    .export-excel {
      position: relative;
      button {
        position: absolute;
        top: -50px;
        left: 5%;
      }
    }
  }

  .injection-info {
    margin: 0 10px;
  }
}